<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Example.textart.calligrapy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name="com.Example.textart.calligrapy.ScorpionApps"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.Example.textart.calligrapy.ScorpionMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <activity
            android:name="com.Example.textart.calligrapy.ScorpionSplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.Example.textart.calligrapy.ScorpionEditTextActivity"
            android:label="@string/title_activity_edit_text"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Example.textart.calligrapy.ScorpionSave_Images_ShowActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Example.textart.calligrapy.ScorpionImage_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Example.textart.calligrapy.ScorpionMyCrop"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Example.textart.calligrapy.ScorpionStickerGridActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Example.textart.calligrapy.ScorpionTextActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>
</manifest>